video {
    max-width: 500px !important;
}
.streaming > video {
    max-width: 100% !important;
}

html, body, main {
    height: 100% !important;
}
.fill-content {
    margin: 20px;
    height:100% !important;
    width: 100% !important;
}
.participant {
    flex-direction: row !important;
    margin-left: 20px;
    margin-right: 20px;
}
.btn-flex {
    display:flex;
}
.button-primary:disabled {
    background-color: rgb(255, 255, 255);
    color: #0263e0;
    cursor: not-allowed;
}

.button-destructive:disabled {
    background-color: rgb(255, 255, 255);
    color: rgba(214, 31, 31, 1);
    cursor: not-allowed;
}
